
body {
    margin: 0px;
    padding: 0px;
    background: #030304;
}
.font-10{font-size:10px;}
.font-12{font-size:12px;}
.font-14{font-size:14px;}
.font-16{font-size:16px;}
.font-18{font-size:18px;}
.font-20{font-size:20px;}
.font-22{font-size:22px;}
.font-600{font-weight:600 !important;}

/* custom css*/
header.nmf-header {background: #ffffff;}
.nmf-othrlist .media {display: flex; align-items: center;}
.nmf-othrlist h5 {margin: 0; padding: 0;}
.nmf-othrlist p {margin: 0; padding: 0;}
.nmf-grey{color:#959595;}
.nmf-toptitle {display: flex;gap: 20px;margin-left: 11em;}
.nmf-othrlist .media img {margin-right: 15px; width:60px;}
.nmf-social {display: flex;gap: 10px;justify-content: right;align-items: center;height: 100%;}
.nmf-social-itm img{width:35px;}
.nmf-megalist {display: flex;width: 100%;background: #e20206; align-items:center; gap:25px}
.nmf-megaclass{background: #e20206;}
.nmf-canvas img {width: 25px;}
.nmf-megalist a{cursor:pointer;}
.nmf-othrlist {width: 25%;}
img.nmf-logo {position: absolute;top: -28px;left: 0;}
.nmf-megaclass .navbar-expand-sm .navbar-nav {flex-direction: row;padding-left: 6em;}
.nmf-megaclass a.nav-link {color: #ffffff;}
.nmf-megaclass a.nav-link.active{color: #ffffff;}
.nmf-titlehead {padding: 5px 0 0;}
.nmf-mainclass{background:#030304;}
.nmf-herosec{display:flex; gap:10px;}
.nmf-bkrng-news img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: #640002;
}
.nmf-bkrng-news{width:20%;}
.nmf-titlenewssec {width: 80%;}
.nmf-titlebanner h2{margin:0px; padding:0px; font-size:35px;font-weight:700; color:#ffaa15;}
.nmf-titlebanner p{font-size:18px; margin:0px; padding:0 15px; color:#ffffff;}
.nmf-titlebanner {
    width: 100%;
    height: 400px;
    background: url(../images/nmf-titleimg.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 60px 0 0;
}
.nmf-relatedvidos .nmf-toptitle {
    display: flex;
    gap: 20px;
    margin-left: 0;
}

.nmf-relatedvidos .nmf-othrlist .media img {
    width: 100px;
}

.nmf-relatedvidos {
    background: url(../images/nmf-titleimg.jpg);
    background-size: cover;
    background-position: center;
    padding:10px;
}

.nmf-relatedvidos .nmf-othrlist h5{color:#ffffff;}
.nmf-singlecard{ margin:0px; padding:0px;}
.nmf-singlecard a{ margin:0px; padding:0px}
.nmf-singlecard a {color: #fff;text-decoration: none;}
.nest-postcard-img img {width: 100%;}
.nest-postcard {background: #ffffff;padding: 5px; margin:0 0 10px;}
.nest-postcard p{margin:0px; padding:0px;}
.nmf-ads img {width: 100%;}
.nmf-singlecard-img img {width: 100%;}
.nmf-fullad-sec img{width:100%}
.nmf-featurespost-item a{text-decoration:none;}
.nmf-featurespost-item {background: #fff;}
.nmf-featurespost-item p{padding:10px 10px; color:#030304}
.nmf-footer{ background:#282828; padding:0 0 2em;}
.nmf-sm {display: flex; gap: 25px;align-items: center;}
.nmf-ftlogo {width: 30%;}
.nmf-ftlogo img{width:100%;}
.nmf-smrgt {width: 80%;}
.nmf-icons {display: flex;gap: 10px;padding: 10px 0;justify-content: left;}
.nmf-icons img{width:35px;}
.nmf-smrgt p .nmf-smrgt p {margin: 0px;padding: 0px;}
.nmf-loc span img{width:30px;}
.nmf-loc {text-align: center;}
.nmf-btmsponser{background:#ffffff; margin:0 auto; width:70%;}
.nmf-btmsponser .nmf-toptitle {margin-left: 0;}
/* new css with updated sec*/
.bg-white{background:#ffffff !important; padding: 0 20px 20px 20px;}
.nmf-horoscope-sec {width: 100%;height: 100%;  background-repeat:no-repeat; background-size:cover; background-position:center}
.manoranjansec-item {width: 100%; width: 100%;height: 300px;background: url(../images/manoranjan.png); background-repeat:no-repeat; background-size:cover; background-position:bottom}
.nmf-manoranjansec h2 {margin: 0px;padding: 10px 0;display: flex;gap: 7px;align-items: center;align-content: center;}
.nmf-mainmanoranjansec {padding: 0 0 20px 0;}
.nmf-manoranjansec span svg {width: 12px;}
.nmf-aurbhisec a{color:#E10205; text-decoration:none;}
.nmf-aurbhisec h2 {
    background: #fff;
    margin: 0;
    padding: 10px 12px;
    text-align: end;
}
.nmf-featurespost img, .nmf-vidopost img {width: 100%;}
.nmf-aurbhisec {
    position: relative;
    height: 100%;
    background: #fff;
}
.nmf-qklinks{ margin:0px; padding:0px; background:#134393; margin:0 0 2em;}
.nmf-qklinks-inner {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 15px 20px;
    
}
.nmf-qklinks-inner .nmf-qklinks-item a{ text-decoration:none; color:#ffffff; font-size:16px; font-weight:600; transition-duration:0.5s;}
.nmf-qklinks-inner .nmf-qklinks-item a:hover{color:#e20206;}
/* dtl page css*/
.nmftheme-white{background:#ffffff !important;}
figure.nestednmf-figure img {width: 100%;}
.nestednmf-perpost {padding: 20px 0 0;}
.nmf-relatednews h2 {margin: 0;padding: 10px 15px;background: #134393;color: #ffffff;}
.nmf-relatednews .media {display: flex; flex: 1; gap:10px; align-items:center; }
.nmf-relatednews img {flex-shrink: 0;width: 100px !important;}
.nmf-relatednews a{color:#020202;}
.nmf-featurespost {position: relative;}
.nmf-featurespost-item {background: #fafafa;padding: 10px 40px;}
.nmf-relatednews .owl-prev {position:absolute; top:3%; left:10px;}
.nmf-relatednews .owl-next {position: absolute;top: 3%;right: 10px;}
.nmf-relatednews .owl-prev span,.nmf-relatednews .owl-next span {font-size: 50px; font-weight: bold;color: #134393;font-family: sans-serif;}
.nestednmf-lsctctergy svg {width: 12px;}
.nestednmf-ctrgry {padding: 20px;}
.nmf-lsctctergy-item img {width: 100px;}
.nmf-lsctctergy-item .media {display: flex;gap: 10px;align-items: center;}
.nmf-lsctctergy-item a {color: #020202;text-decoration: none; transition-duration:0.5s}
.nmf-lsctctergy-item a:hover{color:#134393;}
.nestednmf-lsctctergy h2 {display: flex; gap: 15px; font-size: 16px; padding: 10px 0;}
.nmf-lsctctergy-item {padding: 0;border-bottom: 1px solid #e7e7e7;margin: 0 0 20px;padding: 0 0 15px;}

/* responsive CSS*/
@media only screen and (max-width : 767px) {
.nmf-othrlist .media img {margin-right: 8px;width: 30px;}
.nmf-othrlist h5 {font-size: 12px;}
.nmf-othrlist p{font-size:10px;}
.nmf-social{justify-content: center; padding: 5px 0 5px; }
.nmf-social-itm img {width: 25px;}
.nmf-canvas img {width: 25px;}
.nmf-megalist{position:relative;}
.nmf-canvas {position: absolute;top: 18px;}
.nmf-megaclass nav.navbar.navbar-expand-sm {margin-left: 35px; display: flex; justify-content: space-between; width: 100%;}
button.navbar-toggler {border-color: #ffffff; background:#ffffff;}
img.nmf-logo {position: relative;top: 0;left: 0;width: 50px;}
.nmf-toptitle{margin-left:0; overflow-y: scroll;}
.nmf-toptitle{gap:0px;}
.nmf-header .nmf-othrlist .media {width: 40vw;}
.nmf-megaclass .navbar-expand-sm .navbar-nav{padding-left:0px;}
.nmf-megaclass .navbar-expand-sm .navbar-nav {flex-direction: column;padding-left: 0;}
.nmf-titlebanner h2{font-size:25px; padding:0 15px}
.nmf-herosec{ flex-direction:column;}
.nmf-titlenewssec {width: 100%;}
.nmf-relatedvidos .nmf-othrlist .media {width: 80vw;}
.nmf-relatedvidos .nmf-othrlist .media img {width: 70px;}
.nmf-bkrng-news {width: 100%;}
.nmfcardlistsec {margin: 10px 0 !important;}
.nmf-singlecard h3{font-size:16px;}
.nmf-qklinks-inner {display: flex; gap: 10px; justify-content: center; padding: 10px 15px; flex-direction: column;}
.nmf-sm {gap: 25px; align-items: flex-start; flex-direction: column; padding: 0 15px;}
.nmf-btmsponser{width:100%; padding:5px 0;}
.nmf-btmsponser .nmf-othrlist .media{width:45vw;}
.nmf-footer{padding-bottom:0px;}
.nmf-titlebanner p {font-size: 14px;padding: 5px 15px;color: #ffffff;}
.nmf-othrlist {width: 100%;}
.nmf-titlebanner{
    background-size: cover !important;
    object-position: center !important;
    background-position: center center !important;}
}
