/*FEATURED SECTION*/
.featured {
    width: 100%;
    float: left;
    margin: 50px 0;
    height: auto;
}

    .featured .title {
        color: #404446;
        margin-bottom: 30px;
        border-bottom: 1px solid #CCC;
    }

    .featured .pdct-box {
        border: 1px solid #f5f5f5;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.13);
        margin: 20px 0;
        padding: 20px;
    }

    .featured .products .pdct-img {
        background-color: #f5f5f5;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .featured .products .pdct-info {
        color: #404446;
    }

        .featured .products .pdct-info h2 {
            color: #404446;
            font: bold 18px;
            text-align: center;
            margin: 0;
        }

        .featured .products .pdct-info h3 {
            color: #d75c37
        }

            .featured .products .pdct-info h3 span {
                color: #a7a7a7;
                font-size: 16px;
                text-decoration: line-through;
            }

        .featured .products .pdct-info h4 {
            color: #404446;
            font-size: 16px;
            text-align: center;
            margin: 0;
        }

        .featured .products .pdct-info p {
            color: #666;
            margin-bottom: 20px;
        }

        .featured .products .pdct-info ul li a {
            color: #FFF;
        }

        .featured .products .pdct-info .fav {
            background-color: #d75c37;
            color: #FFF;
            font-size: 24px;
            margin: 0 auto;
            width: auto;
            height: 39px;
            vertical-align: bottom;
            position: relative;
            padding: 2px 10px 0;
        }

            .featured .products .pdct-info .fav:hover {
                background-color: #333;
                transition: all 0.7s ease-out 0s;
            }

        .featured .products .pdct-info .btn-cart {
            background-color: #351610;
            color: #FFF;
            border: none;
            border-radius: 0;
            padding: 10px 15px;
        }

            .featured .products .pdct-info .btn-cart:hover {
                background-color: #d75c37;
                color: #FFF;
                transition: all 0.7s ease-out 0s;
            }

.contactus {
    margin: 1.5em 0 0 0
}

    .contactus h2,
    .contactus li,
    .contactus input,
    .contactus textarea,
    .contactus a,
    .contactus
    p {
        font-family: Roboto;
        font-weight: 400
    }

    .contactus
    h1 {
        font-size: 1.85em;
        margin: 0 0 0.75em 0
    }

    .contactus
    h2 {
        font-size: 1em;
        font-weight: bold;
        border-bottom: 1px solid #ddd;
        margin: 0;
        padding: 0 0 2px 0
    }

    .contactus .form-wrap {
        margin: 1rem 0
    }

    .contactus form
    textarea {
        resize: none;
        height: 150px
    }

    .contactus form input[type='submit'] {
        margin: 0;
        float: right
    }

    .contactus
    ul {
        margin: 0.5rem 0 1rem 0;
        padding: 0
    }

    .contactus li,
    .contactus
    p {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0.9rem
    }

        .contactus li
        span {
            color: #777
        }


@media only screen and (min-width: 64.063em) {
    .large-push-0 {
        position: relative;
        left: 0%;
        right: auto;
    }

    .large-pull-0 {
        position: relative;
        right: 0%;
        left: auto;
    }

    .large-push-1 {
        position: relative;
        left: 8.33333%;
        right: auto;
    }

    .large-pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto;
    }

    .large-push-2 {
        position: relative;
        left: 16.66667%;
        right: auto;
    }

    .large-pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto;
    }

    .large-push-3 {
        position: relative;
        left: 25%;
        right: auto;
    }

    .large-pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }

    .large-push-4 {
        position: relative;
        left: 33.33333%;
        right: auto;
    }

    .large-pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto;
    }

    .large-push-5 {
        position: relative;
        left: 41.66667%;
        right: auto;
    }

    .large-pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto;
    }

    .large-push-6 {
        position: relative;
        left: 50%;
        right: auto;
    }

    .large-pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }

    .large-push-7 {
        position: relative;
        left: 58.33333%;
        right: auto;
    }

    .large-pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto;
    }

    .large-push-8 {
        position: relative;
        left: 66.66667%;
        right: auto;
    }

    .large-pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto;
    }

    .large-push-9 {
        position: relative;
        left: 75%;
        right: auto;
    }

    .large-pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }

    .large-push-10 {
        position: relative;
        left: 83.33333%;
        right: auto;
    }

    .large-pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto;
    }

    .large-push-11 {
        position: relative;
        left: 91.66667%;
        right: auto;
    }

    .large-pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto;
    }

    .column, .columns {
        position: relative;
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left;
    }

    .large-1 {
        width: 8.33333%;
    }

    .large-2 {
        width: 16.66667%;
    }

    .large-3 {
        width: 25%;
    }

    .large-4 {
        width: 33.33333%;
    }

    .large-5 {
        width: 41.66667%;
    }

    .large-6 {
        width: 50%;
    }

    .large-7 {
        width: 58.33333%;
    }

    .large-8 {
        width: 66.66667%;
    }

    .large-9 {
        width: 75%;
    }

    .large-10 {
        width: 83.33333%;
    }

    .large-11 {
        width: 91.66667%;
    }

    .large-12 {
        width: 100%;
    }

    .large-offset-0 {
        margin-left: 0% !important;
    }

    .large-offset-1 {
        margin-left: 8.33333% !important;
    }

    .large-offset-2 {
        margin-left: 16.66667% !important;
    }

    .large-offset-3 {
        margin-left: 25% !important;
    }

    .large-offset-4 {
        margin-left: 33.33333% !important;
    }

    .large-offset-5 {
        margin-left: 41.66667% !important;
    }

    .large-offset-6 {
        margin-left: 50% !important;
    }

    .large-offset-7 {
        margin-left: 58.33333% !important;
    }

    .large-offset-8 {
        margin-left: 66.66667% !important;
    }

    .large-offset-9 {
        margin-left: 75% !important;
    }

    .large-offset-10 {
        margin-left: 83.33333% !important;
    }

    .large-offset-11 {
        margin-left: 91.66667% !important;
    }

    .large-reset-order {
        margin-left: 0;
        margin-right: 0;
        left: auto;
        right: auto;
        float: left;
    }

    .column.large-centered, .columns.large-centered {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    .column.large-uncentered, .columns.large-uncentered {
        margin-left: 0;
        margin-right: 0;
        float: left;
    }

    .column.large-centered:last-child, .columns.large-centered:last-child {
        float: none;
    }

    .column.large-uncentered:last-child, .columns.large-uncentered:last-child {
        float: left;
    }

    .column.large-uncentered.opposite, .columns.large-uncentered.opposite {
        float: right;
    }

    .row.large-collapse > .column, .row.large-collapse > .columns {
        padding-left: 0;
        padding-right: 0;
    }

    .row.large-collapse .row {
        margin-left: 0;
        margin-right: 0;
    }

    .row.large-uncollapse > .column, .row.large-uncollapse > .columns {
        padding-left: 0.9375em;
        padding-right: 0.9375em;
        float: left;
    }

    .push-0 {
        position: relative;
        left: 0%;
        right: auto;
    }

    .pull-0 {
        position: relative;
        right: 0%;
        left: auto;
    }

    .push-1 {
        position: relative;
        left: 8.33333%;
        right: auto;
    }

    .pull-1 {
        position: relative;
        right: 8.33333%;
        left: auto;
    }

    .push-2 {
        position: relative;
        left: 16.66667%;
        right: auto;
    }

    .pull-2 {
        position: relative;
        right: 16.66667%;
        left: auto;
    }

    .push-3 {
        position: relative;
        left: 25%;
        right: auto;
    }

    .pull-3 {
        position: relative;
        right: 25%;
        left: auto;
    }

    .push-4 {
        position: relative;
        left: 33.33333%;
        right: auto;
    }

    .pull-4 {
        position: relative;
        right: 33.33333%;
        left: auto;
    }

    .push-5 {
        position: relative;
        left: 41.66667%;
        right: auto;
    }

    .pull-5 {
        position: relative;
        right: 41.66667%;
        left: auto;
    }

    .push-6 {
        position: relative;
        left: 50%;
        right: auto;
    }

    .pull-6 {
        position: relative;
        right: 50%;
        left: auto;
    }

    .push-7 {
        position: relative;
        left: 58.33333%;
        right: auto;
    }

    .pull-7 {
        position: relative;
        right: 58.33333%;
        left: auto;
    }

    .push-8 {
        position: relative;
        left: 66.66667%;
        right: auto;
    }

    .pull-8 {
        position: relative;
        right: 66.66667%;
        left: auto;
    }

    .push-9 {
        position: relative;
        left: 75%;
        right: auto;
    }

    .pull-9 {
        position: relative;
        right: 75%;
        left: auto;
    }

    .push-10 {
        position: relative;
        left: 83.33333%;
        right: auto;
    }

    .pull-10 {
        position: relative;
        right: 83.33333%;
        left: auto;
    }

    .push-11 {
        position: relative;
        left: 91.66667%;
        right: auto;
    }

    .pull-11 {
        position: relative;
        right: 91.66667%;
        left: auto;
    }
}

.panel {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #f2f2f2;
    color: #333;
}

    .panel > :first-child {
        margin-top: 0;
    }

    .panel > :last-child {
        margin-bottom: 0;
    }

    .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6, .panel p, .panel li, .panel dl {
        color: #333;
    }

    .panel h1, .panel h2, .panel h3, .panel h4, .panel h5, .panel h6 {
        line-height: 1;
        margin-bottom: 0.625rem;
    }

        .panel h1.subheader, .panel h2.subheader, .panel h3.subheader, .panel h4.subheader, .panel h5.subheader, .panel h6.subheader {
            line-height: 1.4;
        }

    .panel.callout {
        border-style: solid;
        border-width: 1px;
        border-color: #c5e8f3;
        margin-bottom: 1.25rem;
        padding: 1.25rem;
        background: #f2fafc;
        color: #333;
    }

        .panel.callout > :first-child {
            margin-top: 0;
        }

        .panel.callout > :last-child {
            margin-bottom: 0;
        }

        .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6, .panel.callout p, .panel.callout li, .panel.callout dl {
            color: #333;
        }

        .panel.callout h1, .panel.callout h2, .panel.callout h3, .panel.callout h4, .panel.callout h5, .panel.callout h6 {
            line-height: 1;
            margin-bottom: 0.625rem;
        }

            .panel.callout h1.subheader, .panel.callout h2.subheader, .panel.callout h3.subheader, .panel.callout h4.subheader, .panel.callout h5.subheader, .panel.callout h6.subheader {
                line-height: 1.4;
            }

        .panel.callout a:not(.button) {
            color: #2ba6cb;
        }

            .panel.callout a:not(.button):hover, .panel.callout a:not(.button):focus {
                color: #258faf;
            }

    .panel.radius {
        border-radius: 3px;
    }



form {
    margin: 0 0 1rem;
}

    form .row .row {
        margin: 0 -0.5rem;
    }

        form .row .row .column, form .row .row .columns {
            padding: 0 0.5rem;
        }

        form .row .row.collapse {
            margin: 0;
        }

            form .row .row.collapse .column, form .row .row.collapse .columns {
                padding: 0;
            }

            form .row .row.collapse input {
                -webkit-border-bottom-right-radius: 0;
                -webkit-border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
            }

    form .row input.column, form .row input.columns, form .row textarea.column, form .row textarea.columns {
        padding-left: 0.5rem;
    }

label {
    font-size: 0.875rem;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
}

    label.right {
        float: none !important;
        text-align: right;
    }

    label.inline {
        margin: 0 0 1rem 0;
        padding: 0.5625rem 0;
    }

    label small {
        text-transform: capitalize;
        color: #676767;
    }


.prefix, .postfix {
    display: block;
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-style: solid;
    border-width: 1px;
    overflow: visible;
    font-size: 0.875rem;
    height: 2.3125rem;
    line-height: 2.3125rem;
}

    .postfix.button {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        border: none;
    }

    .prefix.button {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        border: none;
    }

        .prefix.button.radius {
            border-radius: 0;
            -webkit-border-bottom-left-radius: 3px;
            -webkit-border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

    .postfix.button.radius {
        border-radius: 0;
        -webkit-border-bottom-right-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
    }

    .prefix.button.round {
        border-radius: 0;
        -webkit-border-bottom-left-radius: 1000px;
        -webkit-border-top-left-radius: 1000px;
        border-bottom-left-radius: 1000px;
        border-top-left-radius: 1000px;
    }

    .postfix.button.round {
        border-radius: 0;
        -webkit-border-bottom-right-radius: 1000px;
        -webkit-border-top-right-radius: 1000px;
        border-bottom-right-radius: 1000px;
        border-top-right-radius: 1000px;
    }

span.prefix, label.prefix {
    background: #f2f2f2;
    border-right: none;
    color: #333;
    border-color: #ccc;
}

span.postfix, label.postfix {
    background: #f2f2f2;
    border-left: none;
    color: #333;
    border-color: #ccc;
}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-size: 0.875rem;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.15s linear;
}

    input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus {
        background: #fafafa;
        border-color: #999;
        outline: none;
    }

    input[type="text"]:disabled, input[type="password"]:disabled, input[type="date"]:disabled, input[type="datetime"]:disabled, input[type="datetime-local"]:disabled, input[type="month"]:disabled, input[type="week"]:disabled, input[type="email"]:disabled, input[type="number"]:disabled, input[type="search"]:disabled, input[type="tel"]:disabled, input[type="time"]:disabled, input[type="url"]:disabled, input[type="color"]:disabled, textarea:disabled {
        background-color: #ddd;
        cursor: default;
    }

    input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"], input[type="password"][disabled], input[type="password"][readonly], fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly], fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly], fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly], fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly], fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly], fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly], fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly], fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
        background-color: #ddd;
        cursor: default;
    }

    input[type="text"].radius, input[type="password"].radius, input[type="date"].radius, input[type="datetime"].radius, input[type="datetime-local"].radius, input[type="month"].radius, input[type="week"].radius, input[type="email"].radius, input[type="number"].radius, input[type="search"].radius, input[type="tel"].radius, input[type="time"].radius, input[type="url"].radius, input[type="color"].radius, textarea.radius {
        border-radius: 3px;
    }

form .row .prefix-radius.row.collapse input, form .row .prefix-radius.row.collapse textarea, form .row .prefix-radius.row.collapse select, form .row .prefix-radius.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

form .row .prefix-radius.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

form .row .postfix-radius.row.collapse input, form .row .postfix-radius.row.collapse textarea, form .row .postfix-radius.row.collapse select, form .row .postfix-radius.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

form .row .postfix-radius.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

form .row .prefix-round.row.collapse input, form .row .prefix-round.row.collapse textarea, form .row .prefix-round.row.collapse select, form .row .prefix-round.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
}

form .row .prefix-round.row.collapse .prefix {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
}

form .row .postfix-round.row.collapse input, form .row .postfix-round.row.collapse textarea, form .row .postfix-round.row.collapse select, form .row .postfix-round.row.collapse button {
    border-radius: 0;
    -webkit-border-bottom-left-radius: 1000px;
    -webkit-border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
}

form .row .postfix-round.row.collapse .postfix {
    border-radius: 0;
    -webkit-border-bottom-right-radius: 1000px;
    -webkit-border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    border-top-right-radius: 1000px;
}

input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}

textarea[rows] {
    height: auto;
}

textarea {
    max-width: 100%;
}

select {
    -webkit-appearance: none !important;
    border-radius: 0;
    background-color: #FAFAFA;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: rgba(0,0,0,0.75);
    line-height: normal;
    border-radius: 0;
    height: 2.3125rem;
}

    select::-ms-expand {
        display: none;
    }

    select.radius {
        border-radius: 3px;
    }

    select:hover {
        background-color: #f3f3f3;
        border-color: #999;
    }

    select:disabled {
        background-color: #ddd;
        cursor: default;
    }

    select[multiple] {
        height: auto;
    }

input[type="file"], input[type="checkbox"], input[type="radio"], select {
    margin: 0 0 1rem 0;
}

    input[type="checkbox"] + label, input[type="radio"] + label {
        display: inline-block;
        margin-left: 0.5rem;
        margin-right: 1rem;
        margin-bottom: 0;
        vertical-align: baseline;
    }

input[type="file"] {
    width: 100%;
}

fieldset {
    border: 1px solid #ddd;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

    fieldset legend {
        font-weight: bold;
        background: #fff;
        padding: 0 0.1875rem;
        margin: 0;
        margin-left: -0.1875rem;
    }

[data-abide] .error small.error, [data-abide] .error span.error, [data-abide] span.error, [data-abide] small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: #fff;
}

[data-abide] span.error, [data-abide] small.error {
    display: none;
}

span.error, small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: #fff;
}

.error input, .error textarea, .error select {
    margin-bottom: 0;
}

    .error input[type="checkbox"], .error input[type="radio"] {
        margin-bottom: 1rem;
    }

.error label, .error label.error {
    color: #c60f13;
}

.error small.error {
    display: block;
    padding: 0.375rem 0.5625rem 0.5625rem;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: #fff;
}

.error > label > small {
    color: #676767;
    background: transparent;
    padding: 0;
    text-transform: capitalize;
    font-style: normal;
    font-size: 60%;
    margin: 0;
    display: inline;
}

.error span.error-message {
    display: block;
}

input.error, textarea.error, select.error {
    margin-bottom: 0;
}

label.error {
    color: #c60f13;
}

meta.foundation-mq-topbar {
    font-family: "/only screen and (min-width:40.063em)/";
    width: 58.75em;
}

.contain-to-grid {
    width: 100%;
    background: #333;
}

    .contain-to-grid .top-bar {
        margin-bottom: 0;
    }

.fixed {
    width: 100%;
    left: 0;
    position: fixed;
    top: 0;
    z-index: 99;
}

    .fixed.expanded:not(.top-bar) {
        overflow-y: auto;
        height: auto;
        width: 100%;
        max-height: 100%;
    }

        .fixed.expanded:not(.top-bar) .title-area {
            position: fixed;
            width: 100%;
            z-index: 99;
        }

        .fixed.expanded:not(.top-bar) .top-bar-section {
            z-index: 98;
            margin-top: 2.8125rem;
        }


.js-generated {
    display: block;
}



.button-group {
    list-style: none;
    margin: 0;
    left: 0;
}

    .button-group:before, .button-group:after {
        content: " ";
        display: table;
    }

    .button-group:after {
        clear: both;
    }

    .button-group.even-2 li {
        margin: 0 -2px;
        display: inline-block;
        width: 50%;
    }

        .button-group.even-2 li > button, .button-group.even-2 li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.even-2 li:first-child button, .button-group.even-2 li:first-child .button {
            border-left: 0;
        }

        .button-group.even-2 li button, .button-group.even-2 li .button {
            width: 100%;
        }

    .button-group.even-3 li {
        margin: 0 -2px;
        display: inline-block;
        width: 33.33333%;
    }

        .button-group.even-3 li > button, .button-group.even-3 li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.even-3 li:first-child button, .button-group.even-3 li:first-child .button {
            border-left: 0;
        }

        .button-group.even-3 li button, .button-group.even-3 li .button {
            width: 100%;
        }

    .button-group.even-4 li {
        margin: 0 -2px;
        display: inline-block;
        width: 25%;
    }

        .button-group.even-4 li > button, .button-group.even-4 li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.even-4 li:first-child button, .button-group.even-4 li:first-child .button {
            border-left: 0;
        }

        .button-group.even-4 li button, .button-group.even-4 li .button {
            width: 100%;
        }

    .button-group.even-5 li {
        margin: 0 -2px;
        display: inline-block;
        width: 20%;
    }

        .button-group.even-5 li > button, .button-group.even-5 li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.even-5 li:first-child button, .button-group.even-5 li:first-child .button {
            border-left: 0;
        }

        .button-group.even-5 li button, .button-group.even-5 li .button {
            width: 100%;
        }

    .button-group.even-6 li {
        margin: 0 -2px;
        display: inline-block;
        width: 16.66667%;
    }

        .button-group.even-6 li > button, .button-group.even-6 li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.even-6 li:first-child button, .button-group.even-6 li:first-child .button {
            border-left: 0;
        }

        .button-group.even-6 li button, .button-group.even-6 li .button {
            width: 100%;
        }

    .button-group.even-7 li {
        margin: 0 -2px;
        display: inline-block;
        width: 14.28571%;
    }

        .button-group.even-7 li > button, .button-group.even-7 li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.even-7 li:first-child button, .button-group.even-7 li:first-child .button {
            border-left: 0;
        }

        .button-group.even-7 li button, .button-group.even-7 li .button {
            width: 100%;
        }

    .button-group.even-8 li {
        margin: 0 -2px;
        display: inline-block;
        width: 12.5%;
    }

        .button-group.even-8 li > button, .button-group.even-8 li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.even-8 li:first-child button, .button-group.even-8 li:first-child .button {
            border-left: 0;
        }

        .button-group.even-8 li button, .button-group.even-8 li .button {
            width: 100%;
        }

    .button-group > li {
        margin: 0 -2px;
        display: inline-block;
    }

        .button-group > li > button, .button-group > li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group > li:first-child button, .button-group > li:first-child .button {
            border-left: 0;
        }

    .button-group.stack > li {
        margin: 0 -2px;
        display: inline-block;
        display: block;
        margin: 0;
        float: none;
    }

        .button-group.stack > li > button, .button-group.stack > li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.stack > li:first-child button, .button-group.stack > li:first-child .button {
            border-left: 0;
        }

        .button-group.stack > li > button, .button-group.stack > li .button {
            border-top: 1px solid;
            border-color: rgba(255,255,255,0.5);
            border-left-width: 0;
            margin: 0;
            display: block;
        }

        .button-group.stack > li > button {
            width: 100%;
        }

        .button-group.stack > li:first-child button, .button-group.stack > li:first-child .button {
            border-top: 0;
        }

    .button-group.stack-for-small > li {
        margin: 0 -2px;
        display: inline-block;
    }

        .button-group.stack-for-small > li > button, .button-group.stack-for-small > li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.stack-for-small > li:first-child button, .button-group.stack-for-small > li:first-child .button {
            border-left: 0;
        }

@media only screen and (max-width: 40em) {
    .button-group.stack-for-small > li {
        margin: 0 -2px;
        display: inline-block;
        display: block;
        margin: 0;
    }

        .button-group.stack-for-small > li > button, .button-group.stack-for-small > li .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.stack-for-small > li:first-child button, .button-group.stack-for-small > li:first-child .button {
            border-left: 0;
        }

        .button-group.stack-for-small > li > button, .button-group.stack-for-small > li .button {
            border-top: 1px solid;
            border-color: rgba(255,255,255,0.5);
            border-left-width: 0;
            margin: 0;
            display: block;
        }

        .button-group.stack-for-small > li > button {
            width: 100%;
        }

        .button-group.stack-for-small > li:first-child button, .button-group.stack-for-small > li:first-child .button {
            border-top: 0;
        }
}

.button-group.radius > * {
    margin: 0 -2px;
    display: inline-block;
}

    .button-group.radius > * > button, .button-group.radius > * .button {
        border-left: 1px solid;
        border-color: rgba(255,255,255,0.5);
    }

    .button-group.radius > *:first-child button, .button-group.radius > *:first-child .button {
        border-left: 0;
    }

    .button-group.radius > *, .button-group.radius > * > a, .button-group.radius > * > button, .button-group.radius > * > .button {
        border-radius: 0;
    }

        .button-group.radius > *:first-child, .button-group.radius > *:first-child > a, .button-group.radius > *:first-child > button, .button-group.radius > *:first-child > .button {
            -webkit-border-bottom-left-radius: 3px;
            -webkit-border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        .button-group.radius > *:last-child, .button-group.radius > *:last-child > a, .button-group.radius > *:last-child > button, .button-group.radius > *:last-child > .button {
            -webkit-border-bottom-right-radius: 3px;
            -webkit-border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
        }

.button-group.radius.stack > * {
    margin: 0 -2px;
    display: inline-block;
    display: block;
    margin: 0;
}

    .button-group.radius.stack > * > button, .button-group.radius.stack > * .button {
        border-left: 1px solid;
        border-color: rgba(255,255,255,0.5);
    }

    .button-group.radius.stack > *:first-child button, .button-group.radius.stack > *:first-child .button {
        border-left: 0;
    }

    .button-group.radius.stack > * > button, .button-group.radius.stack > * .button {
        border-top: 1px solid;
        border-color: rgba(255,255,255,0.5);
        border-left-width: 0;
        margin: 0;
        display: block;
    }

    .button-group.radius.stack > * > button {
        width: 100%;
    }

    .button-group.radius.stack > *:first-child button, .button-group.radius.stack > *:first-child .button {
        border-top: 0;
    }

    .button-group.radius.stack > *, .button-group.radius.stack > * > a, .button-group.radius.stack > * > button, .button-group.radius.stack > * > .button {
        border-radius: 0;
    }

        .button-group.radius.stack > *:first-child, .button-group.radius.stack > *:first-child > a, .button-group.radius.stack > *:first-child > button, .button-group.radius.stack > *:first-child > .button {
            -webkit-top-left-radius: 3px;
            -webkit-top-right-radius: 3px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .button-group.radius.stack > *:last-child, .button-group.radius.stack > *:last-child > a, .button-group.radius.stack > *:last-child > button, .button-group.radius.stack > *:last-child > .button {
            -webkit-bottom-left-radius: 3px;
            -webkit-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
        }

@media only screen and (min-width: 40.063em) {
    .button-group.radius.stack-for-small > * {
        margin: 0 -2px;
        display: inline-block;
    }

        .button-group.radius.stack-for-small > * > button, .button-group.radius.stack-for-small > * .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.radius.stack-for-small > *:first-child button, .button-group.radius.stack-for-small > *:first-child .button {
            border-left: 0;
        }

        .button-group.radius.stack-for-small > *, .button-group.radius.stack-for-small > * > a, .button-group.radius.stack-for-small > * > button, .button-group.radius.stack-for-small > * > .button {
            border-radius: 0;
        }

            .button-group.radius.stack-for-small > *:first-child, .button-group.radius.stack-for-small > *:first-child > a, .button-group.radius.stack-for-small > *:first-child > button, .button-group.radius.stack-for-small > *:first-child > .button {
                -webkit-border-bottom-left-radius: 3px;
                -webkit-border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                border-top-left-radius: 3px;
            }

            .button-group.radius.stack-for-small > *:last-child, .button-group.radius.stack-for-small > *:last-child > a, .button-group.radius.stack-for-small > *:last-child > button, .button-group.radius.stack-for-small > *:last-child > .button {
                -webkit-border-bottom-right-radius: 3px;
                -webkit-border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                border-top-right-radius: 3px;
            }
}

@media only screen and (max-width: 40em) {
    .button-group.radius.stack-for-small > * {
        margin: 0 -2px;
        display: inline-block;
        display: block;
        margin: 0;
    }

        .button-group.radius.stack-for-small > * > button, .button-group.radius.stack-for-small > * .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.radius.stack-for-small > *:first-child button, .button-group.radius.stack-for-small > *:first-child .button {
            border-left: 0;
        }

        .button-group.radius.stack-for-small > * > button, .button-group.radius.stack-for-small > * .button {
            border-top: 1px solid;
            border-color: rgba(255,255,255,0.5);
            border-left-width: 0;
            margin: 0;
            display: block;
        }

        .button-group.radius.stack-for-small > * > button {
            width: 100%;
        }

        .button-group.radius.stack-for-small > *:first-child button, .button-group.radius.stack-for-small > *:first-child .button {
            border-top: 0;
        }

        .button-group.radius.stack-for-small > *, .button-group.radius.stack-for-small > * > a, .button-group.radius.stack-for-small > * > button, .button-group.radius.stack-for-small > * > .button {
            border-radius: 0;
        }

            .button-group.radius.stack-for-small > *:first-child, .button-group.radius.stack-for-small > *:first-child > a, .button-group.radius.stack-for-small > *:first-child > button, .button-group.radius.stack-for-small > *:first-child > .button {
                -webkit-top-left-radius: 3px;
                -webkit-top-right-radius: 3px;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }

            .button-group.radius.stack-for-small > *:last-child, .button-group.radius.stack-for-small > *:last-child > a, .button-group.radius.stack-for-small > *:last-child > button, .button-group.radius.stack-for-small > *:last-child > .button {
                -webkit-bottom-left-radius: 3px;
                -webkit-bottom-right-radius: 3px;
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }
}

.button-group.round > * {
    margin: 0 -2px;
    display: inline-block;
}

    .button-group.round > * > button, .button-group.round > * .button {
        border-left: 1px solid;
        border-color: rgba(255,255,255,0.5);
    }

    .button-group.round > *:first-child button, .button-group.round > *:first-child .button {
        border-left: 0;
    }

    .button-group.round > *, .button-group.round > * > a, .button-group.round > * > button, .button-group.round > * > .button {
        border-radius: 0;
    }

        .button-group.round > *:first-child, .button-group.round > *:first-child > a, .button-group.round > *:first-child > button, .button-group.round > *:first-child > .button {
            -webkit-border-bottom-left-radius: 1000px;
            -webkit-border-top-left-radius: 1000px;
            border-bottom-left-radius: 1000px;
            border-top-left-radius: 1000px;
        }

        .button-group.round > *:last-child, .button-group.round > *:last-child > a, .button-group.round > *:last-child > button, .button-group.round > *:last-child > .button {
            -webkit-border-bottom-right-radius: 1000px;
            -webkit-border-top-right-radius: 1000px;
            border-bottom-right-radius: 1000px;
            border-top-right-radius: 1000px;
        }

.button-group.round.stack > * {
    margin: 0 -2px;
    display: inline-block;
    display: block;
    margin: 0;
}

    .button-group.round.stack > * > button, .button-group.round.stack > * .button {
        border-left: 1px solid;
        border-color: rgba(255,255,255,0.5);
    }

    .button-group.round.stack > *:first-child button, .button-group.round.stack > *:first-child .button {
        border-left: 0;
    }

    .button-group.round.stack > * > button, .button-group.round.stack > * .button {
        border-top: 1px solid;
        border-color: rgba(255,255,255,0.5);
        border-left-width: 0;
        margin: 0;
        display: block;
    }

    .button-group.round.stack > * > button {
        width: 100%;
    }

    .button-group.round.stack > *:first-child button, .button-group.round.stack > *:first-child .button {
        border-top: 0;
    }

    .button-group.round.stack > *, .button-group.round.stack > * > a, .button-group.round.stack > * > button, .button-group.round.stack > * > .button {
        border-radius: 0;
    }

        .button-group.round.stack > *:first-child, .button-group.round.stack > *:first-child > a, .button-group.round.stack > *:first-child > button, .button-group.round.stack > *:first-child > .button {
            -webkit-top-left-radius: 1rem;
            -webkit-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }

        .button-group.round.stack > *:last-child, .button-group.round.stack > *:last-child > a, .button-group.round.stack > *:last-child > button, .button-group.round.stack > *:last-child > .button {
            -webkit-bottom-left-radius: 1rem;
            -webkit-bottom-right-radius: 1rem;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }

@media only screen and (min-width: 40.063em) {
    .button-group.round.stack-for-small > * {
        margin: 0 -2px;
        display: inline-block;
    }

        .button-group.round.stack-for-small > * > button, .button-group.round.stack-for-small > * .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.round.stack-for-small > *:first-child button, .button-group.round.stack-for-small > *:first-child .button {
            border-left: 0;
        }

        .button-group.round.stack-for-small > *, .button-group.round.stack-for-small > * > a, .button-group.round.stack-for-small > * > button, .button-group.round.stack-for-small > * > .button {
            border-radius: 0;
        }

            .button-group.round.stack-for-small > *:first-child, .button-group.round.stack-for-small > *:first-child > a, .button-group.round.stack-for-small > *:first-child > button, .button-group.round.stack-for-small > *:first-child > .button {
                -webkit-border-bottom-left-radius: 1000px;
                -webkit-border-top-left-radius: 1000px;
                border-bottom-left-radius: 1000px;
                border-top-left-radius: 1000px;
            }

            .button-group.round.stack-for-small > *:last-child, .button-group.round.stack-for-small > *:last-child > a, .button-group.round.stack-for-small > *:last-child > button, .button-group.round.stack-for-small > *:last-child > .button {
                -webkit-border-bottom-right-radius: 1000px;
                -webkit-border-top-right-radius: 1000px;
                border-bottom-right-radius: 1000px;
                border-top-right-radius: 1000px;
            }
}

@media only screen and (max-width: 40em) {
    .button-group.round.stack-for-small > * {
        margin: 0 -2px;
        display: inline-block;
        display: block;
        margin: 0;
    }

        .button-group.round.stack-for-small > * > button, .button-group.round.stack-for-small > * .button {
            border-left: 1px solid;
            border-color: rgba(255,255,255,0.5);
        }

        .button-group.round.stack-for-small > *:first-child button, .button-group.round.stack-for-small > *:first-child .button {
            border-left: 0;
        }

        .button-group.round.stack-for-small > * > button, .button-group.round.stack-for-small > * .button {
            border-top: 1px solid;
            border-color: rgba(255,255,255,0.5);
            border-left-width: 0;
            margin: 0;
            display: block;
        }

        .button-group.round.stack-for-small > * > button {
            width: 100%;
        }

        .button-group.round.stack-for-small > *:first-child button, .button-group.round.stack-for-small > *:first-child .button {
            border-top: 0;
        }

        .button-group.round.stack-for-small > *, .button-group.round.stack-for-small > * > a, .button-group.round.stack-for-small > * > button, .button-group.round.stack-for-small > * > .button {
            border-radius: 0;
        }

            .button-group.round.stack-for-small > *:first-child, .button-group.round.stack-for-small > *:first-child > a, .button-group.round.stack-for-small > *:first-child > button, .button-group.round.stack-for-small > *:first-child > .button {
                -webkit-top-left-radius: 1rem;
                -webkit-top-right-radius: 1rem;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }

            .button-group.round.stack-for-small > *:last-child, .button-group.round.stack-for-small > *:last-child > a, .button-group.round.stack-for-small > *:last-child > button, .button-group.round.stack-for-small > *:last-child > .button {
                -webkit-bottom-left-radius: 1rem;
                -webkit-bottom-right-radius: 1rem;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
            }
}

.button-bar:before, .button-bar:after {
    content: " ";
    display: table;
}

.button-bar:after {
    clear: both;
}

.button-bar .button-group {
    float: left;
    margin-right: 0.625rem;
}

    .button-bar .button-group div {
        overflow: hidden;
    }

button.tiny, .button.tiny {
    padding-top: 0.625rem;
    padding-right: 1.25rem;
    padding-bottom: 0.6875rem;
    padding-left: 1.25rem;
    font-size: 0.6875rem;
}
